scrollbar-gutter: stable;
overflow-x: hidden;
overflow-y: hidden;

Screen {
    align: center middle;
    padding: 1;
}

Button {
    height: auto;
    width: auto;
}

DataTable {
    min-height: 20;
    margin-top: 1;
}