Screen {
    align: center middle;
    padding: 1;
}

Button {
    height: auto;
    width: auto;
}

ContentSwitcher {
    background: $panel;
    border: round $primary;
    width: 90%;
    height: 100%;
}

DataTable {
    background: $panel;
}